body{
    background-color: beige;
    text-align: center;
    color:black;
    font-family: monospace;
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

a{
    color: green;
    text-decoration: none;
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

a:hover{
    color:crimson;
    text-decoration: line;
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

main{
    text-align: center;
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

h2{
    text-align: center;
}

img{
    width: 60%;
}

figure{
    text-align: center;
    font-style: italic;
}
