.slideshow-container {
    position: relative;
    max-width: 1000px;
    margin: auto;
  }
  
  .mySlides {
    display: none;
  }
  
  img {
    vertical-align: middle;
  }
  
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  .text {
    color: #f2f2f2;
    font-size: 18px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
  }
  
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 24px;
    user-select: none;
    transition: 0.6s ease;
    background-color: rgba(0,0,0,0.3);
  }
  
  .next {
    right: 0;
  }
  
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  .row {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .column {
    flex: 0 0 auto;
    width: 100px;
    margin: 0 4px;
  }
  
  .demo {
    opacity: 0.6;
  }
  
  .active, .demo:hover {
    opacity: 1;
  }
  