<nav>
    <a href="https://webpages.charlotte.edu/jkim197/">Charlotte.edu</a>
    |
    <a href="https://github.com/minion427/minion427.github.io">GitHub</a>
    |
    <a href="https://minion427.github.io/itis3135">GitHub.io</a>
    |
    <a href="https://www.freecodecamp.org/g1kim">freeCodeCamp</a>
    |
    <a href="https://www.codecademy.com/profiles/g1kim">Codecademy</a>
    |
    <a href="https://www.linkedin.com/in/jiwon-kim-2234a3350/">LinkedIn</a>
</nav>
<p>Page Built by <a href="./jkenterprise.org/index.html">JK Enterprises </a>&copy;2025 </p>